$cYellow: #fcc634;
$cGreen: #51d140;
$cBlue: rgb(60, 97, 199);
$cPurple: #b38ed8;
$cRed: #ff6f6f;
$cBlack: #626262;
$cOrange: rgb(236, 137, 44);
$cBgGrey: $cBlack;
$cBgBeigue: #e0dfd9;
$cWhite: white;
$cBgWhite: $cWhite;