// ＊＊＊＊＊＊レイアウト＊＊＊＊＊＊＊＊＊＊＊

* {
  font-size: 62.5%;
  font-family: "Hiragino Kaku Gothic ProN", Meiryo, sans-serif;
}

a {
  text-decoration: none;
  color: $cBgGrey;
  &:hover {
    text-decoration: none;
    color: currentColor;
    opacity: 0.8;
  }
}

// 中央揃え
.content-width {
  width: 90%;
  margin: 0 auto;
}

// font
.font-sm {
  font-size: 1.4rem;
  font-weight: 400;
}
.font-md {
  font-size: 1.6rem;
  font-weight: 400;
}
.font-lr {
  font-size: 2rem;
  font-weight: 400;
}
.font-lg {
  font-size: 3rem;
  font-weight: 400;
}

// margin-bottom
.mb-sm {
  margin-bottom: 1.5rem;
}
.mb-md {
  margin-bottom: 2rem;
}
.mb-lr {
  margin-bottom: 5rem;
}
.mb-lg {
  margin-bottom: 7.5rem;
}

// padding-bottom
.pd-sm {
  padding-bottom: 1.5rem;
}
.pd-md {
  padding-bottom: 2rem;
}
.pd-lr {
  padding-bottom: 5rem;
}
.pd-lg {
  padding-bottom: 7.5rem;
}

// color
.c--yellow {
  color: $cYellow;
}
// fontfamily
.ff-impact {
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
}

// テキストアンダーライン
.bd-bm {
  position: relative;
  display: inline-block;
  &::after {
    content: "";
    position: absolute;
    display: block;
    border-bottom: 5px solid $cYellow;
    width: 120%;
    left: 50%;
    transform: translateX(-50%);
  }
}
// ＊＊＊＊＊Animation＊＊＊＊＊＊＊＊＊

// mobileMenuButton押下時のAnimation
.menu-open {
  & .main {
    &:hover {
      cursor: pointer;
    }
    &::after {
      content: "";
      position: absolute;
      display: block;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      z-index: 1000;
      background-color: rgba(34, 26, 26, 0.548);
      box-shadow: 6px 5px 18px 3px rgba(34, 26, 26, 0.548);
    }
  }
  &#global-container {
    & #container {
      transition: all 1s;
      transform: translate(-250px, 100px);
      & .header__mobile-menu__button {
        & .header__mobile-menu__bar {
          &:nth-of-type(1) {
            transform: translateY(10px) rotate(135deg);
          }
          &:nth-of-type(2) {
            transform: translateX(-300px) rotate(1800deg);
            opacity: 0;
          }
          &:nth-of-type(3) {
            transform: translateY(-10px) rotate(-135deg);
          }
        }
      }
    }
    & .mobile-menu {
      opacity: 1;
      visibility: visible;
      &:hover {
        cursor: pointer;
      }
    }
  }
}

// textAnimation
.animate-title {
  @extend .mb-md;
  color: $cWhite;
  transition: all 0.5s;
  transform: translateX(-90%);
  letter-spacing: 2px;
  .char {
    display: inline-block;
    opacity: 0;
    @extend .font-lg;
    @extend .ff-impact;
  }
}
.inview {
  &.animate-title {
    transform: translateX(0);
    transition-timing-function: ease-out;
  }
  & .char {
    @include animation(
      $name: kf-animation-title,
      $iteration-count: 1,
      $duration: 0.8s
    );
    @for $i from 1 through 15 {
      &:nth-of-type(#{$i}) {
        animation-delay: 0.1s * $i;
      }
    }
  }
}

// ＊＊＊＊＊スタイル＊＊＊＊＊＊＊＊＊＊

#container {
  background-color: $cBgGrey;
  z-index: 10;
  box-shadow: 3px 3px 10px rgba(255, 255, 255, 0.8);
}

// ******Header*******
.header {
  position: fixed;
  width: 100%;
  background-color: $cBgWhite;
  z-index: 100;
  &__nav {
      display: none;
  }
  &__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 50px;
    z-index: 100;
    @extend .content-width;
  }

  &__logo {
    display: inline-block;
    font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
    @extend .font-lg;
  }

  &__mobile-menu {
    &__button {
      border: none;
      outline: none;
      background-color: transparent;
    }
    &__bar {
      display: block;
      width: 40px;
      height: 5px;
      background-color: $cBgGrey;
      margin-bottom: 5px;
      transition: all 1s;
      &:last-child {
        margin-bottom: 0;
      }
    }
  }
}

.mobile-menu {
  position: fixed;
  text-align: center;
  right: 50px;
  top: 20px;
  opacity: 0;
  visibility: hidden;
  transition: 0.5s;
  &__logo {
    @extend .ff-impact;
    @extend .font-lg;
  }
  &__main {
    list-style: none;
  }
  &__item {
    & a {
      color: $cBlack;
      @extend .ff-impact;
      @extend .font-lr;
    }
  }
}

.main {
  width: 100%;
  padding-top: 5rem;
  background-color: $cBgGrey;
}

// ******About Me Section*******
.about-me {
  padding-top: 25px;
  width: 80%;
  margin: 0 auto;
  @extend .mb-lg;
  &__img-wrapper {
    width: 100%;
  }
  &__img {
    @extend .content-width;
    @extend .mb-md;
    display: block;
    border-radius: 50%;
    object-position: 14px;
    background-color: #a5a5a5;
  }
  &__body {
    color: $cWhite;
    text-align: center;
  }
  &__acc {
    position: relative;
    display: block;
    @extend .font-sm;
    text-align: left;
    border: 1px solid $cYellow;
    padding: 10px 12px;
    margin: 0 auto 15px auto;
    width: 70%;
    &::after {
      content: "+";
      position: absolute;
      display: inline-block;
      right: 12px;
      vertical-align: middle;
    }
    &:hover {
      cursor: pointer;
    }

    &-show {
      position: relative;
      display: block;
      @extend .font-sm;
      text-align: left;
      border: 1px solid $cYellow;
      padding: 10px 0;
      margin: 0 auto -10px auto;
      width: 70%;
      opacity: 0;
      height: 0;
      transition: 0.8s;

      &__items {
        padding-left: 25px;
      }
      &__item {
        @extend .font-sm;
        font-weight: 400;
      }
    }
  }
  &__chk-box {
    display: none;

    &:checked + .about-me__acc-show {
      opacity: 1;
      height: auto;
      @extend .mb-md;
    }

    &:checked.about-me__acc::after {
      content: "✕";
    }
  }
}

// ******Career Section*******
.career {
  @extend .mb-lr;
  &__inner {
    text-align: center;
    @extend .content-width;
  }
  &__title {
    &.bd-bm::after {
      border-color: $cGreen;
    }
  }
  &__cards {
    display: flex;
    flex-direction: column;
  }
  &__card {
    display: flex;
    align-items: center;
    border: 1px solid $cGreen;
    border-radius: 10px;
    background-color: $cBgBeigue;
    color: $cBgGrey;
    padding: 10px 12px;
    text-align: left;
    @extend .mb-sm;
    &__img-wrapper {
      flex-basis: 30%;
      margin-right: 5%;
    }
    &__img {
      width: 100%;
      max-width: 100%;
      border: 1px solid $cGreen;
    }
    &__body {
      flex-basis: 65%;
      &-title {
        @extend .font-md;
      }
      &-text {
        font-size: 12px;
      }
    }
  }
}

// ******deliverbles Section*******
.deliverbles {
  &__inner {
    text-align: center;
    width: 100%;
    @extend .mb-lr;
  }
  &__title {
    color: white;
    &.bd-bm::after {
      border-color: $cBlue;
    }
  }
  &__slide {
    margin: 0 auto;
    border: 1px solid $cBlue;
    width: 95%;
    background-color: $cBlue;
  }
  &__main-image {
    max-width: 100%;
  }
  &__toolbar {
    overflow: hidden;
    text-align: center;
  }
  &__nav {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 16px 0;
    // @extend .mb-lr;
  }
  & #prev {
    opacity: 0.6;
    @extend .font-lr;
    &:hover {
      cursor: pointer;
      opacity: 1;
    }
  }
  & #next {
    opacity: 0.6;
    @extend .font-lr;
    font-weight: 900;
    &:hover {
      cursor: pointer;
      opacity: 1;
    }
  }
  & #page {
    @extend .font-md;
    color: white;
  }
}
// ******Web Skills Section*******
.web-skills {
  &__inner {
    @extend .content-width;
    text-align: center;
  }
  &__title {
    color: $cWhite;
    &.bd-bm::after {
      border-color: $cPurple;
    }
  }
  &__items {
    padding: 50px 0 25px 0;
    background-color: $cPurple;
    border-radius: 10px;
    @extend .mb-lr;
  }
  &__item {
    // display: flex;
    width: 90%;
    margin: 0 auto;
    flex-direction: column;
    position: relative;
    color: $cBgGrey;
    &-icons {
      display: flex;
      justify-content: center;
    }
    &-title {
      font-size: 25px;
      @extend .ff-impact;
    }
    &-icon {
      display: block;
      font-size: 100px;
      padding: 25px 0;
      margin: 0 auto;
    }
    &-descriptions {
      position: absolute;
      padding: 0;
      list-style: none;
      top: 50%;
      left: 50%;
      width: 100%;
    //   transform: translate(-150%, -80%);
      transform: translate(50%, -50%);
      z-index: 200;
      opacity: 0;
    }
    &-description {
      font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
      @extend .font-md;
    }
  }
}
// hover時アニメーション
.web-skills {
  &__item {
    overflow: hidden;
    &:nth-of-type(odd) {
      &:hover {
        & .web-skills__item-descriptions {
          opacity: 1;
          @include animation(
            $name: kf-bound-text,
            $duration: 1s,
            $iteration-count: 1
          );
        }
      }
    }
    &:nth-of-type(even) {
      &:hover {
        & .web-skills__item-descriptions {
          opacity: 1;
          @include animation(
            $name: kf-zoom-text,
            $duration: 1s,
            $iteration-count: 1
          );
        }
      }
    }
    &:nth-of-type(3n) {
      &:hover {
        & .web-skills__item-descriptions {
          opacity: 1;
          @include animation(
            $name: kf-starwars-text,
            $duration: 2.2s,
            $iteration-count: infinite
          );
        }
      }
    }
    &:hover {
      cursor: pointer;
      &::before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: $cBlack;
        border-radius: 5px;
        z-index: 5;
      }
    }
  }
}
// ******Plans Section*******
.plans {
  &__inner {
    @extend .content-width;
    text-align: center;
  }
  &__title {
    color: $cWhite;
    &.bd-bm::after {
      border-color: $cRed;
    }
  }
  &__text {
    position: relative;
    display: block;
    color: $cWhite;
    padding: 20px 0;
    background-color: $cRed;
    @extend .font-lr;
    @extend .mb-lr;
    &::after {
      content: "";
      position: absolute;
      display: block;
      // background-color: $cWhite;
      border-top: 22px solid #f0897f;
      border-right: 18px solid transparent;
      border-left: 18px solid transparent;
      bottom: 0;
      left: 50%;
      transform: translate(-50%, 130%);
      z-index: 2;
    }
    &:last-child::after {
      display: none;
    }
  }
}
// ******contact*********
.contact {
  &__inner {
    @extend .content-width;
    text-align: center;
  }
  &__title {
    &.bd-bm:after {
      border-color: $cOrange;
    }
  }
  &__form {
    display: flex;
    flex-direction: column;
    @extend .font-sm;
    @extend .mb-lr;
    &-title,
    &-name,
    &-email,
    &-textarea {
      border-radius: 5px;
      border: 2px inset $cOrange;
      outline: none;
      padding: 1rem;
      @extend .mb-sm;
    }
    &-button {
      margin: 0 auto;
      width: 50%;
      @extend .font-lr;
      font-weight: 600;
      border-radius: 10px;
      border: 2px solid $cOrange;
      color: $cOrange;
      box-shadow: 2px 2px 3px 3px rgba(34, 26, 26, 0.548);
      transform: translate(-5px, -5px);
      outline: none;
      &:active {
        box-shadow: none;
        background-color: $cOrange;
        color: white;
        transform: translate(0, 0);
      }
    }
  }
}
// ******footer*******
.footer {
  height: 10px;
  &__inner {
    display: flex;
    padding: 20px 0;
    align-items: center;
    justify-content: space-between;
    @extend .content-width;
  }
  &__img-wrapper {
    flex-basis: 15%;
    border-radius: 50%;
    overflow: hidden;
    background-color: #a5a5a5;
  }
  &__img {
    width: 100%;
    object-position: 3px;
  }
  &__nav {
    display: block;
  }
  &__items {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
  }
  &__item {
    margin-right: 20px;
    & a {
        font-size: 12px;
    }
  }
  &__copy-rights {
    @extend .font-sm;
    text-align: center;
    display: block;
    color: $cBgGrey;
  }
}
